@use '../../foundation/general'
@use '../../foundation/colors'
@use '../../foundation/mixins'

.contact
  height: 40px
  display: flex
  column-gap: 10px

  &__photo
    @include mixins.square(40px)
    border-radius: 50%
    position: relative
    background-color: black

  &__online-marker
    @include mixins.square(8px)
    border-radius: 50%
    border: 3px solid white
    position: absolute
    bottom: 0
    right: 0
    display: none
    &_online
      display: block
      background-color: colors.$success

  &__body
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

  &__name
    font-size: 14px
    line-height: 16px
    font-weight: 600
    max-width: 180px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &__preview
    font-size: 14px
    line-height: 16px
    color: colors.$gray
    max-width: 180px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &__unreaded-income
    @include mixins.square(18px)
    @include mixins.flex-centered
    border-radius: 50%
    background-color: colors.$error
    font-size: 11px
    line-height: 13px
    font-weight: 700
    color: white
    position: absolute
    right: 0
    bottom: 0
    display: none
    &_showed
      display: flex

  &__outcome-status
    @include mixins.square(12px)
    position: absolute
    right: 0
    bottom: 2px
    &_delivered
      &::before
        content: ''
        display: block
        width: 12px
        height: 2px
        background-color: colors.$main-color
        transform: translate(2px, 6px) rotate(-60grad)
      &::after
        content: ''
        display: block
        width: 6px
        height: 2px
        background-color: colors.$main-color
        transform: translate(0px, 6px) rotate(45grad)
    &_readed
      &::before
        content: ''
        display: block
        width: 12px
        height: 2px
        background-color: colors.$main-color
        transform: translate(-3px, 5px) rotate(-60grad)
      &::after
        content: ''
        display: block
        width: 6px
        height: 2px
        background-color: colors.$main-color
        transform: translate(-5px, 3px) rotate(45grad)
      span::before
        content: ''
        display: block
        width: 12px
        height: 2px
        background-color: colors.$main-color
        transform: translate(2px, 3px) rotate(-60grad)


  &__time
    font-size: 12px
    line-height: 14px
    color: colors.$gray
    position: absolute
    top: 0
    right: 0
